***********************************************************************
SPDX-FileCopyrightText: 2021 Thorsten Hapke <thorsten.hapke@sap.com>

SPDX-License-Identifier: Apache-2.0
***********************************************************************

.idea/
.DS_Store
*.yaml
*.egg-info

# folders
dist/*
build/*
users/*
connections/*
catalogs/*

### Logs
logs
*.log

config.yaml
