***********************************************************************
SPDX-FileCopyrightText: 2021 Thorsten Hapke <thorsten.hapke@sap.com>

SPDX-License-Identifier: Apache-2.0
***********************************************************************

.idea/
.DS_Store
config.yaml
cred.yaml
sql.txt
.yo-rc.json
.vscode/*
localtest/*

data/

# generator
operators/
docs/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release


# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache
